@import "@fancyapps/ui/dist/fancybox/fancybox.css";

@font-face {
  font-family: Lora;
  font-style: normal;
  font-weight: 700;
  src:
    local("Lora Bold"),
    local("Lora-Bold"),
    url(/fonts/lora-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 400;
  src:
    local("Titillium Web Regular"),
    local("TitilliumWeb-Regular"),
    url(/fonts/titillium-web-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 600;
  src:
    local("Titillium Web SemiBold"),
    local("TitilliumWeb-SemiBold"),
    url(/fonts/titillium-web-semibold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 700;
  src:
    local("Titillium Web Bold"),
    local("TitilliumWeb-Bold"),
    url(titillium-web-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  iframe {
    @apply aspect-video h-auto w-full shadow-xl;
  }
}

@layer components {
  .box {
    @apply bg-white p-4 shadow-md shadow-neutral-200 md:p-8;
  }

  .button {
    @apply border-primary-900 text-primary-900 focus-visible:ring-primary-900/20 inline-flex h-10 cursor-pointer items-center border bg-white px-6 font-sans text-sm font-semibold uppercase transition-colors hover:border-neutral-900 hover:text-neutral-900 focus-visible:outline-none focus-visible:ring-4 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-70 md:text-base;
  }

  .label {
    @apply mb-1 block font-medium text-neutral-900;
  }

  .link {
    @apply border-primary-900 focus-visible:ring-primary-900/20 border-b text-neutral-900 outline-none transition-colors hover:border-neutral-900 focus-visible:ring-4 focus-visible:ring-offset-2;
  }

  .title {
    @apply bg-neutral-900 bg-no-repeat py-3 text-center font-sans text-sm font-semibold uppercase text-white md:text-base;

    background-image: url(/leafs-left.svg), url(/leafs-right.svg);
    background-position: 1rem, calc(100% - 1rem);
  }

  .h1 {
    @apply font-serif text-2xl font-bold leading-none text-neutral-900 md:text-3xl lg:text-4xl;
  }

  .h2 {
    @apply font-serif text-2xl font-bold leading-none text-neutral-900;
  }

  .label {
    @apply mb-1 block font-bold text-neutral-900;
  }

  .input {
    @apply focus:border-primary-900 focus:ring-primary-900/20 h-10 w-full border border-neutral-300 p-2 font-sans shadow-sm outline-none transition-colors hover:border-neutral-500 focus:ring-4 aria-[invalid]:border-red-600 aria-[invalid]:focus:ring-red-200;
  }

  .bordered {
    @apply relative block before:absolute before:bottom-3 before:left-5 before:right-5 before:top-3 before:border before:border-white after:absolute after:inset-4 after:border after:border-white;
  }

  .content {
    @apply prose-a:border-primary-900 focus-visible:prose-a:text-primary-900 focus-visible:prose-a:ring-primary-900/20 prose max-w-none prose-headings:font-serif prose-a:border-b prose-a:no-underline prose-a:outline-none prose-a:transition-colors hover:prose-a:border-neutral-900 focus-visible:prose-a:ring-4 prose-img:shadow-lg;
  }
}
