---
import Layout from "@/layouts/default.astro";
---

<Layout
  title="Seite nicht gefunden"
  description="Wir sind Jugendliche und Erwachsene und engagieren uns für das Wohl von benachteiligten Menschen, etwa aus Kinder- oder Pflegeheimen."
  class="text-center"
>
  <h1 class="h1">Seite nicht gefunden</h1>

  <p class="mx-auto my-4 max-w-lg">
    Leider wurde die gewünschte Seite nicht gefunden. Versichere dich, dass du
    die Adresse richtig geschrieben hast. Möglicherweise wurde der Artikel auch
    geändert oder gelöscht.
  </p>

  <a class="button" href="/">Zur Startseite</a>
</Layout>
