---
import BaseLayout from "layouts/base-layout.astro";
import Image from "components/image.astro";
import Title from "components/title.astro";
import Box from "components/box.astro";
import Button from "components/button.astro";
---

<BaseLayout
  title="Willkommen"
  description="Wir sind Jugendliche und Erwachsene und engagieren uns für das Wohl von benachteiligten Menschen, etwa aus Kinder- oder Pflegeheimen."
>
  <main class="container main" id="content">
    <figure class="banner">
      <Image
        src="20-01.jpg"
        category="pflegeheim"
        width={1280}
        height={700}
        alt="Leo-Mitglieder verteilen Rosen im Weiler Pflegeheim"
        loading="eager"
      />
      <Box as="figcaption" class="caption centered" variant="small">
        <h1 class="tagline">Miteinander statt Gegeneinander</h1>
        <p>
          Der Leo-Club Weil am Rhein ist ein sozial engagierter Jugendclub aus dem Dreiländereck, dessen Mitglieder sich
          für Menschen mit Behinderung, benachteiligte Kinder und Heimbewohner einsetzt.
        </p>
        <Button href="/ueber-uns/">Erfahre mehr über uns</Button>
      </Box>
    </figure>

    <div class="sections">
      <Box class="w-1/3 centered" variant="small">
        <Title as="h2">Engagieren</Title>
        <p>
          Wir sind Freiwillige im Alter zwischen 14 und 30 Jahren, welche sich ehrenamtlich für benachteiligte Menschen
          einsetzen.
        </p>
        <Button href="/ueber-uns/">Erfahre mehr</Button>
      </Box>

      <Box class="w-1/3 centered" variant="small">
        <Title as="h2">Bewegen</Title>
        <p>
          Wir unternehmen Ausflüge mit Kindern oder Bewohnern eines Pflegeheims, sammeln Spenden oder arbeiten mit den
          Lions zusammen.
        </p>
        <Button href="/aktionen/">Berichte lesen</Button>
      </Box>

      <Box class="w-1/3 centered" variant="small">
        <Title as="h2">Mitmachen</Title>
        <p>
          Unser Ziel ist eine Gesellschaft, in der sich jeder sozial engagiert und für hilfsbedürftige Menschen
          einsetzt.
        </p>
        <Button href="/mitglied-werden/">Mitglied werden</Button>
      </Box>

      <Box as="figure" class="w-1/2" variant="small">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/Y3VODSWWxgI"
          title="Video zum Leo-Club"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </Box>

      <Box class="w-1/2" variant="small">
        <p>
          Leo-Clubs ist eine weltweit tätige, zu den Lions gehörende Organisation bestehend aus tausenden von Clubs und
          noch viel mehr Mitgliedern. In der Regel kannst du ab 16 Jahre Leo werden, das Maximalalter liegt bei 30.
        </p>

        <p>
          Unser Club wurde 2009 gegründet und hat seither mehr als 200 Aktionen durchgeführt. Einen Teil dieser Aktionen
          kannst du im Video sehen.
        </p>

        <p>
          Hast du Lust, mitzumachen? Noch nicht sicher, worum es wirklich geht? Informiere dich über <a
            href="/ueber-uns/">unsere Geschichte</a
          > oder entdecke
          <a href="/aktionen/">unsere Aktionen</a>. Oder lerne mehr über die <a href="/mitglied-werden/"
            >Mitgliedschaft</a
          >.
        </p>
      </Box>
    </div>
  </main>
</BaseLayout>

<style>
  .main {
    margin-block: 3rem;
  }

  .banner {
    position: relative;
    box-shadow: 0 2px 4px hsl(var(--clr-gray-500) / 0.1);
    border-radius: 2px;
    margin-bottom: 12rem;
  }

  .banner::before,
  .banner::after {
    content: "";
    position: absolute;
    border: 1px solid hsl(var(--clr-white) / 0.8);
    z-index: 1;
  }

  .banner::before {
    inset: calc(-2px + 1.5rem) calc(2px + 1.5rem);
  }

  .banner::after {
    inset: 1.5rem;
  }

  :global(.caption) {
    position: absolute;
    top: 100%;
    max-width: 70%;
    left: 15%;
    right: 15%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .tagline {
    background: hsl(var(--clr-white)) url(/leafs.svg) no-repeat center bottom;
    background-size: 40px;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
    font-size: 32px;
    line-height: 1.2;
  }

  .sections {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
  }

  :global(.w-1\/3) {
    grid-column: span 2;
  }

  :global(.w-1\/2) {
    grid-column: span 3;
  }

  .button {
    margin-top: 1rem;
  }

  @media (max-width: 900px) {
    .main {
      margin-block: 1.5rem;
    }

    :global(.caption) {
      max-width: 90%;
      left: 5%;
      right: 5%;
    }

    .w-1\/3 {
      grid-column: span 6;
    }
  }

  @media (max-width: 700px) {
    .banner {
      margin-bottom: 1.5rem;
      box-shadow: unset;
    }

    :global(.caption) {
      position: relative;
      inset: 0;
      transform: translateY(0);
      max-width: unset;
      z-index: 2;
    }

    .tagline {
      font-size: 24px;
    }

    .w-1\/2 {
      grid-column: span 6;
    }
  }
</style>
