---
import { Picture } from "astro:assets";
import Layout from "@/layouts/default.astro";
import SommercampHuttwil from "@/images/sommercamp-in-huttwil.jpg";
---

<Layout
  title="Mitglied werden"
  description="Willst du Mitglied in unserem Club werden, dann lese dir diese Seite genau durch. Wir freuen uns über den Interesse!"
  hasSidebar
  hasTitle
  hasBackground
  class="content"
>
  <p>
    Hast du Interesse, anderen Menschen zu helfen und dich zusammen mit uns sozial zu engagieren? Wir sind ein offener
    Club und heißen Interessierte stets willkommen. Einmal im Monat treffen wir uns zu einer Clubsitzung, um die
    kommenden Aktionen zu planen, danach wird es ernst. Meist planen wir in kleineren Teams und tragen diese
    Informationen dann an der Sitzung zusammen. Doch welche Voraussetzungen solltest du mitbringen?
  </p>

  <ul>
    <li>
      Sei zwischen 14 und 30 Jahre alt. Unsere Mitglieder sind durchschnittlich zwischen 16 und 25 Jahre alt und lernen
      bei jeder Aktion für's Leben, sind also keineswegs perfekt, und das erwarten wir auch nicht von dir.
    </li>
    <li>
      Du solltest Spaß daran haben, mit Menschen Kontakt zu haben und dich für diese einzusetzen. Auch, wenn es manchmal
      etwas schwieriger ist, denn manche unserer Projektteilnehmer sind entweder physisch oder psychisch benachteiligt.
    </li>
    <li>
      Sei tolerant, offen für Neues sowie verantwortungsbewusst, dann steht deiner Karriere bei uns nichts mehr im Wege.
    </li>
  </ul>

  <p>
    Du fragst dich sicher, was mit Karriere gemeint ist? Nun, bevor du ein Leo werden kannst, musst du dich noch etwas
    gedulden. Wir nehmen nicht sofort neue Mitglieder auf, sondern nehmen dich erst einmal als Gast in den Club auf. Du
    bist für 3 - 6 Monate Gast und hast in diesem Zeitraum die Möglichkeit, dich bei uns umzuschauen. Wenn es dir
    gefällt und wenn wir dich für geeignet halten, dann steht einer Aufnahme als vollwertiger Leo nichts mehr im Wege!
    Die Mitgliedschaft ist übrigens komplett kostenlos, du musst weder für die Sitzungen noch für die Aktionen bezahlen
    - das machen alles wir.
  </p>

  <Picture
    src={SommercampHuttwil}
    formats={["avif", "webp"]}
    alt="teilnehmer des sommercamps in huttwil halten eine flagge der regio lions hoch"
    width={800}
    height={450}
    loading="eager"
    quality={80}
  />

  <p>
    Wenn du erst einmal Mitglied bist und Interesse hast, dann kannst du dich bei der nächsten Vorstandswahl für einen
    der vier verfügbaren Posten bewerben. Schreibst du gerne, dann ist der Posten des Sekretärs sicher interessant für
    dich. Der Schatzmeister muss mindestens 18 Jahre alt sein und verwaltet die Finanzen des Clubs, während der
    Präsident und sein Vertreter, der Vize-Präsident, den Club leiten und die Richtung angeben. Dazu gehören viel
    Planung, aber auch das Durchführen der Sitzungen und die Kontaktaufnahme zu anderen Clubs oder den Lions. Diese
    Aufgaben erfordern ein hohes Eigenengament, stehen dir aber prinzipiell nach deiner Wahl als Mitglied offen.
  </p>

  <p>
    Willst du am liebsten gleich Leo werden? Sende uns eine Nachricht und wir werden uns bei dir melden! Willst du Leo
    werden, bist aber zu weit von uns entfernt? In Deutschland gibt es hunderte andere <a
      href="https://www.leo-clubs.de/"
      target="_blank"
      rel="noopener nofollow noreferrer">gleichartige Clubs</a
    > vielleicht ist ja einer in deiner Nähe?
  </p>
</Layout>
