---
import Layout from "@/layouts/default.astro";
import { getPosts, formatDate } from "@/lib/utils";

let posts = await getPosts();
---

<Layout
  title="Sitemap"
  description="Hier finden Sie eine Übersicht all unserer Seiten und Berichte."
  hasSidebar
  hasTitle
  hasBackground
  class=""
>
  <h2 class="h2 mb-4">Seiten</h2>
  <ul class="list-disc pl-8">
    <li>
      <a class="hover:text-primary-900 transition-colors" href="/">Startseite</a
      >
    </li>
    <li>
      <a class="hover:text-primary-900 transition-colors" href="/aktionen/"
        >Aktionen</a
      >
      <ul class="list-disc pl-8">
        <li>
          <a
            class="hover:text-primary-900 transition-colors"
            href="/aktionen/begegnungen/"
            >Begegnungen mit Menschen mit Behinderung</a
          >
        </li>
        <li>
          <a
            class="hover:text-primary-900 transition-colors"
            href="/aktionen/kinder/">Ausflüge mit Kindern</a
          >
        </li>
        <li>
          <a
            class="hover:text-primary-900 transition-colors"
            href="/aktionen/pflegeheim/">Besuche im Pflegeheim</a
          >
        </li>
        <li>
          <a
            class="hover:text-primary-900 transition-colors"
            href="/aktionen/weitere/">Weitere Aktionen</a
          >
        </li>
        <li>
          <a
            class="hover:text-primary-900 transition-colors"
            href="/aktionen/news/">Neuigkeiten</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a class="hover:text-primary-900 transition-colors" href="/ueber-uns/"
        >Über Uns</a
      >
    </li>
    <li>
      <a
        class="hover:text-primary-900 transition-colors"
        href="/mitglied-werden/">Mitglied werden</a
      >
    </li>
    <li>
      <a class="hover:text-primary-900 transition-colors" href="/kontakt/"
        >Kontakt</a
      >
    </li>
    <li>
      <a class="hover:text-primary-900 transition-colors" href="/impressum/"
        >Impressum</a
      >
    </li>
    <li>
      <a class="hover:text-primary-900 transition-colors" href="/datenschutz/"
        >Datenschutz</a
      >
    </li>
  </ul>

  <h2 class="h2 mb-4 mt-8">Berichte</h2>
  <ul class="list-disc pl-8">
    {
      posts.map((post) => (
        <li>
          <a
            class="hover:text-primary-900 transition-colors"
            href={`/aktionen/${post.slug}`}
          >
            {formatDate(post.data.created_at)} - {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
