---
import "../styles/sommercamp.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Das Trinationale Sommercamp 2023</title>
  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <div class="inner">
          <span>29. Juli - 04. August</span>
          <h1>Das Trinationale Sommercamp 2023</h1>
          <p>
            Ein Ferienlager für Jugendliche aus dem Dreiländereck Frankreich, Deutschland und der Schweiz. Erlebe 6 Tage
            voller Spaß, Arbeit und Überraschungen auf einem Bauernhof in der Schweiz.
          </p>

          <a href="#more" class="button">Erfahre mehr</a>
        </div>
      </div>

      <figure>
        <img src="/images/sommercamp/hero-image.jpg" alt="Gruppenfoto aller Teilnehmer" />
      </figure>
    </header>

    <main id="more">
      <section class="video-section section border-b text-center">
        <div class="container">
          <h2>Das Sommercamp - Der Film</h2>
          <p class="max-w">
            Ein Bild sagt bekanntlich mehr als tausend Worte, darum haben wir einen Film mit Impressionen über das
            Sommercamp 2021 gedreht.
          </p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/tCGpieDegxo"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video-player"></iframe>
        </div>
      </section>

      <article class="article-card -left border-b">
        <div class="container">
          <div class="inner">
            <h2>6 erlebnisreiche Tage auf dem Bauernhof</h2>
            <p>
              Wolltest du schon immer wissen, wie ein Bauer lebt und arbeitet? Bist du neugierig darauf, Kühe zu melken,
              Strohballen einzusammeln oder Hühner zu füttern? Wir bieten dir das und noch mehr!
            </p>
          </div>
        </div>

        <figure>
          <img src="/images/sommercamp/image-1.jpg" loading="lazy" alt="Teilnehmer schütten Kies auf einen Feldweg" />
        </figure>
      </article>

      <article class="article-card -right border-b">
        <div class="container">
          <div class="inner">
            <h2>Schlafen im Stroh</h2>
            <p>
              Zusammen mit den anderen Teilnehmern und Betreuern übernachtest du in einer Scheune, direkt über dem
              Kuhstall. Im Schlafsack schlafen wir im weichen Stroh und feiern das Ende des Ferienlagers mit einer
              großen Strohschlacht.
            </p>
          </div>
        </div>

        <figure>
          <img src="/images/sommercamp/image-2.jpg" loading="lazy" alt="Schlafsäcke im Stroh" />
        </figure>
      </article>

      <article class="article-card -left border-b">
        <div class="container">
          <div class="inner">
            <h2>Spiel & Spaß</h2>
            <p>
              Dich erwarten nicht nur frühes Aufstehen und körperlich anstrengende Arbeit, sondern auch Spiel und Spaß.
              Wettkämpfe, Ausflüge ins Freibad und an den Spielplatz, Künstler, Musik und mehr runden das Programm ab.
            </p>
          </div>
        </div>

        <figure>
          <img src="/images/sommercamp/image-3.jpg" loading="lazy" alt="Teilnehmer spielen Tischtennis" />
        </figure>
      </article>

      <section class="section border-b text-center">
        <div class="container">
          <h2>Galerie</h2>
          <p class="max-w">
            Du willst dir lieber selbst einen Eindruck verschaffen? In unserer Gallerie findest du Bilder der
            vergangenen Jahre. Jedes Sommercamp bietet andere Highlights, daher verstehe diese Bilder nur als groben
            Vorgeschmack auf das was dich erwarten könnte.
          </p>

          <figure class="image-gallery">
            <a
              href="/images/sommercamp/image-1.jpg"
              data-fancybox="gallery"
              data-caption="Verbesserung und Befestigung eines Feldweges, um die problemlose Zufahrt zum Wald sicherzustellen."
            >
              <img
                src="/images/sommercamp/thumbs/image-1.jpg"
                alt="Teilnehmer schütten Kies auf einen Feldweg"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-2.jpg"
              data-fancybox="gallery"
              data-caption="Schlafen im Stroh mit Schlafsäcken."
            >
              <img
                src="/images/sommercamp/thumbs/image-2.jpg"
                alt="Schlafsäcke im Strohlager"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-3.jpg"
              data-fancybox="gallery"
              data-caption="Ein Teil des Zehnkampfes - hier muss der Ball möglichst lange oberhalb des Tisches bleiben."
            >
              <img
                src="/images/sommercamp/thumbs/image-3.jpg"
                alt="Teilnehmer spielen Tischtennis"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-4.jpg"
              data-fancybox="gallery"
              data-caption="Tina und Joe treten für einen Abend auf, um gemeinsam altbekannte Klassiker zu singen."
            >
              <img
                src="/images/sommercamp/thumbs/image-4.jpg"
                alt="Teilnehmer singen Lieder"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-5.jpg"
              data-fancybox="gallery"
              data-caption="Junge Bäume werden mit Pfählen gesichert, damit diese nicht von Tieren umgeschubst werden."
            >
              <img
                src="/images/sommercamp/thumbs/image-5.jpg"
                alt="Teilnehmer befestigen junge Bäume"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-6.jpg"
              data-fancybox="gallery"
              data-caption="Hand in Hand wird Brennholz in die Scheune transportiert."
            >
              <img
                src="/images/sommercamp/thumbs/image-6.jpg"
                alt="Teilnehmer transportieren Brennholz"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-7.jpg"
              data-fancybox="gallery"
              data-caption="Schmutzige Lattenroste und andere Teile werden aus dem Hühnerstall entfernt und mit Hochdruck gereinigt."
            >
              <img
                src="/images/sommercamp/thumbs/image-7.jpg"
                alt="Teilnehmer reinigen Hühnerstall"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-8.jpg"
              data-fancybox="gallery"
              data-caption="Gemeinsamer Nachtisch nach harter Arbeit. Die Landwirtin backte allen Teilnehmern mehrere Kuchen."
            >
              <img
                src="/images/sommercamp/thumbs/image-8.jpg"
                alt="Teilnehmer essen gemeinsam"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-9.jpg"
              data-fancybox="gallery"
              data-caption="Selbstverteidigungskurs für alle interessierten Teilnehmer."
            >
              <img
                src="/images/sommercamp/thumbs/image-9.jpg"
                alt="Teilnehmer beim Selbstverteidigungskurs"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-10.jpg"
              data-fancybox="gallery"
              data-caption="Strohschlacht am letzten Tag des Camps, nachdem alles abgebaut wurde."
            >
              <img
                src="/images/sommercamp/thumbs/image-10.jpg"
                alt="Teilnehmer in einer Strohschlacht"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-11.jpg"
              data-fancybox="gallery"
              data-caption="Gemeinsames Pizza-Essen am letzten Tag."
            >
              <img
                src="/images/sommercamp/thumbs/image-11.jpg"
                alt="Teilnehmer essen gemeinsam Pizza"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-12.jpg"
              data-fancybox="gallery"
              data-caption="Ein Teil des über 100 Jahre alten Scheunenbodens wird durch neue Dielen ersetzt."
            >
              <img
                src="/images/sommercamp/thumbs/image-12.jpg"
                alt="Teilnehmer verlegen einen neuen Holzboden"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-13.jpg"
              data-fancybox="gallery"
              data-caption="Frisch gemähtes Gras wird zu Haufen geharkt und anschließend mit einer Maschine eingesammelt."
            >
              <img
                src="/images/sommercamp/thumbs/image-13.jpg"
                alt="Teilnehmer harken Gras"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-14.jpg"
              data-fancybox="gallery"
              data-caption="Wasserschlacht mit Luftballons an einem der heißen Tage."
            >
              <img
                src="/images/sommercamp/thumbs/image-14.jpg"
                alt="Teilnehmer bei einer gemeinsamen Wasserschlacht"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-15.jpg"
              data-fancybox="gallery"
              data-caption="Teilnehmer und Betreuer spielen gemeinsam Spiele."
            >
              <img
                src="/images/sommercamp/thumbs/image-15.jpg"
                alt="Teilnehmer im Spielekreis"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-16.jpg"
              data-fancybox="gallery"
              data-caption="Im Anhänger geht es gemeinsam zur nächsten Arbeit aufs Feld."
            >
              <img
                src="/images/sommercamp/thumbs/image-16.jpg"
                alt="Teilnehmer im Anhänger"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-17.jpg"
              data-fancybox="gallery"
              data-caption="Erkundung eines unterirdischen Lagerraums."
            >
              <img src="/images/sommercamp/thumbs/image-17.jpg" alt="Teilnehmer in Höhle" width="300" loading="lazy" />
            </a>
            <a
              href="/images/sommercamp/image-18.jpg"
              data-fancybox="gallery"
              data-caption="Gemeinsamer Ausflug zum öffentlichen Spielplatz in Huttwil."
            >
              <img
                src="/images/sommercamp/thumbs/image-18.jpg"
                alt="Teilnehmer auf Spielplatz"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-19.jpg"
              data-fancybox="gallery"
              data-caption="Junge Kälber sind durchgehend auf dem Hof und möchten ebenfalls verpflegt werden."
            >
              <img src="/images/sommercamp/thumbs/image-19.jpg" alt="Junges Kälbchen" width="300" loading="lazy" />
            </a>
            <a
              href="/images/sommercamp/image-20.jpg"
              data-fancybox="gallery"
              data-caption="Das Melken der über 20 Milchkühe ist Alltag auf dem Hof und wird von den Teilnehmer komplett übernommen."
            >
              <img
                src="/images/sommercamp/thumbs/image-20.jpg"
                alt="Teilnehmer beim Melken"
                width="300"
                loading="lazy"
              />
            </a>
            <a
              href="/images/sommercamp/image-21.jpg"
              data-fancybox="gallery"
              data-caption="Das Ausmisten des Kuhstalls gehört ebenso zur Arbeit dazu wie das Melken."
            >
              <img
                src="/images/sommercamp/thumbs/image-21.jpg"
                alt="Teilnehmer beim Ausmisten"
                width="300"
                loading="lazy"
              />
            </a>
          </figure>
        </div>
      </section>

      <section class="section border-b text-center">
        <div class="container">
          <h2>Highlights & Aktivitäten</h2>

          <ul class="highlight-list">
            <li>
              <h3>Kostenlose Teilnahme</h3>
              <p>Den Teilnehmern entstehen keinerlei Kosten, weder für die An- oder Abreise noch für den Aufenthalt.</p>
            </li>
            <li>
              <h3>Verpflegung inklusive</h3>
              <p>Tägliches Frühstück, Mittag- und Abendessen sind im Programm enthalten.</p>
            </li>
            <li>
              <h3>Kühe melken</h3>
              <p>Das tägliche Melken und Versorgen der Kühe ist eine unserer Hauptaufgaben.</p>
            </li>
            <li>
              <h3>Kuhstall ausmisten</h3>
              <p>Weniger lecker, aber notwendig: das tägliche Ausmisten des Kuhstalls gehört zur Arbeit dazu.</p>
            </li>
            <li>
              <h3>Spiele & Wettkämpfe</h3>
              <p>Neben der Arbeit spielen wir entweder miteinander oder im Wettbewerb, teils um spannende Preise.</p>
            </li>
            <li>
              <h3>Freibadbesuche</h3>
              <p>An heißen Sommertagen gehen wir ins Freibad, um uns abzukühlen und eine schöne Zeit zu verbringen.</p>
            </li>
            <li>
              <h3>Gemeinsames kochen</h3>
              <p>Du lässt nichts anbrennen? Gerne kannst du uns beim Zubereiten der Speisen helfen.</p>
            </li>
            <li>
              <h3>Landwirtschaft entdecken</h3>
              <p>Lerne über spannende Themen wie Anbau, Ernte, Wälder, Tiere und vieles mehr.</p>
            </li>
            <li>
              <h3>Freundschaften</h3>
              <p>Lerne neue Freunde kennen und tausche dich mit Gleichaltrigen aus anderen Ländern aus.</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="section border-b faq-section">
        <div class="container">
          <h2 class="text-center">FAQ</h2>
          <p class="text-center max-w">
            Klingt gut? In dieser FAQ findest du alle Details zur Teilnahme. Solltest du weiterhin Fragen haben, kannst
            du dich gerne bei uns melden.
          </p>

          <details>
            <summary>Von wann bis wann findet das Sommercamp statt?</summary>
            <p>Das Sommercamp findet in diesem Jahr vom Samstag, den 29. Juli bis zum Freitag, den 04. August statt.</p>
          </details>

          <details>
            <summary>Wer sind die Organisatoren / Veranstalter?</summary>
            <p>
              Das Sommercamp wird von den Regio Lions und dem Leo-Club Weil am Rhein organisiert. Für die pädagogische
              Betreuung dabei ist Dipl.-Päd. Gerhard Laux vom Lions Club Weil am Rhein sowie langjährige Mitglieder des
              Leo-Clubs.
            </p>
          </details>

          <details>
            <summary>Zum wie vielten Male findet das Sommercamp statt?</summary>
            <p>
              In diesem Jahr findet das Sommercamp zum 11. Mal statt. Wir als Veranstalter haben daher viele Jahre
              Erfahrung in der Ausrichtung solcher Camps.
            </p>
          </details>

          <details>
            <summary>Ist die Teilnahme kostenlos? Wie wird alles finanziert?</summary>
            <p>
              Ja, die Teilnahme ist für alle Teilnehmer kostenlos, inkl. An- und Abreise. Das Sommercamp wird durch
              Erlöse beim Dreiländerlauf, Spenden und Wettbewerbsauschreibungen finanziert.
            </p>
          </details>

          <details>
            <summary>Was sind die Teilnahmebedingungen?</summary>
            <p>
              Du solltest ca. 12 bis 18 Jahre alt sein und Interesse an der Landwirtschaft sowie dem kulturellen
              Austausch mit Jugendlichen aus dem Dreiländereck haben. Zudem solltest du aus dem Elsass, der Schweiz,
              oder Süddeutschland (Baden) kommen.
            </p>

            <p>
              Da wir auf dem Bauernhof arbeiten, solltest du bereit sein, dir die Hände schmutzig zu machen und etwas
              anzupacken. Ein respektvoller Umgang gehört natürlich auch dazu.
            </p>
          </details>

          <details>
            <summary>Gibt es ein genaues Programm?</summary>
            <p>
              Leider nein. Grundlegende Dinge wie Übernachtungen im Stroh oder das tägliche Melken der Kühe sind jedes
              Jahr gleich, allerdings können wir vorher nie sagen, welche Arbeiten auf uns warten. Das Programm wird
              oftmals auch durch das Wetter beeinflusst, so gehen wir bspw. an heißen Tagen eher ins Freibad als bei
              Regen.
            </p>

            <p>
              Es bleibt also sowohl für dich als auch für uns eine Überraschung, wie wir dieses Jahr verbringen werden.
            </p>
          </details>

          <details>
            <summary>Was muss ich alles mitbringen?</summary>
            <p>
              Für das Sommercamp brauchst du folgende Sachen: deinen Ausweis, einen Schlafsack, alte Kleidung (die
              schmutzig werden darf), Gummistiefel, Badesachen und gute Laune.
            </p>

            <p>
              Wir raten davon ab, zu viele andere Gegenstände mitzubringen, da diese schnell im Stroh verloren gehen
              können (vor allem Kleinteile wie Schmuck). Grundsätzlich ist es aber jedem Teilnehmer überlassen, wie viel
              Gepäck und mitbringt.
            </p>
          </details>

          <details>
            <summary>Gibt es sanitäre Anlagen?</summary>
            <p>
              Ja. Auf dem Bauernhof befindet sich ein WC nur für Teilnehmer und Betreuer. Zudem mieten wir Duschen auf
              einem Sportplatz unweit des Bauernhofes, welche jedem Teilnehmer zur Nutzung zur Verfügung stehen.
            </p>
          </details>

          <details>
            <summary>Wie finden An- und Abreise statt?</summary>
            <p>
              Die <b>Anreise</b> startet am Samstag, den 29. Juli um 10:25 mit dem Zug in Basel SBB (Gleis 4). Der Treffpunkt
              ist im Bahnhof SBB um 10:15 in der <b>Schalterhalle am unteren Ende der Rolltreppen</b>. Bitte komme
              entsprechend frühzeitig an.
            </p>

            <p>
              Zusteigemöglichkeiten gibt es in Olten um 11:06 auf Gleis 10 und in Langenthal um 11:20 auf Gleis 13. Die
              Ankunft in Huttwil findet planmäßig um 11:40 statt.
            </p>

            <p>
              Die Abreise startet am Freitag, den 04. August um 18:46 in Huttwil. Der Zug trifft in Langenthal um 19:08
              auf Gleis 3 und in Olten um 19:24 auf Gleis 10 ein. In Basel SBB um 19:56 auf Gleis 6. Bei Bedarf findet
              eine Weiterfahrt nach Lörrach um 20:04 oder in Richtung Mulhouse um 20:21 statt. Die weiteren
              Ankunftszeiten sind:
            </p>

            <ul>
              <li>Saint-Louis: 20:29</li>
              <li>Mulhouse: 20:44</li>
              <li>Colmar: 21:04</li>
              <li>Sélestat: 21:17</li>
              <li>Straßbourg: 21:39</li>
            </ul>
          </details>

          <details>
            <summary>Können die An- oder Abreise auch individuell erfolgen?</summary>
            <p>
              Wir würden uns freuen, die An- und Abreise gemeinsam im Zug zu machen, damit wir uns bereits dort besser
              kennenlernen können. Allerdings ist es auch möglich, dass du von deinen Eltern gebracht oder abgeholt
              wirst, etwa falls du es zeitlich nicht anders schaffen solltest.
            </p>

            <p>Die Adresse das Bauernhofes lautet Flurweg 10a in 4950 Huttwil.</p>
          </details>
        </div>
      </section>

      <section class="article-card -right">
        <div class="container">
          <div class="inner">
            <h2>Anmeldung & Kontakt</h2>
            <p>
              Konnten wir dich für das Sommercamp 2023 in Huttwil begeistern? Bist du zwischen 12 und 18 Jahre alt und
              hast ein Interesse an der Landwirtschaft oder willst es dir zumindest einmal anschauen? Gerne kannst du
              dich hier anmelden oder deine Fragen senden, wir melden uns schnellst möglich bei dir.
            </p>

            <form data-form class="contact-form">
              <input
                type="text"
                name="honeypot"
                id="honeypot"
                autocomplete="off"
                aria-hidden="true"
                tabindex="-1"
                hidden
              />

              <div class="input-group">
                <label for="name">Vor- und Nachname *</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  required
                  data-error="Bitte schreibe deinen Vor- und Nachnamen"
                  data-validate
                />
              </div>
              <div class="input-group">
                <label for="email">E-Mail-Adresse *</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  required
                  data-error="Bitte schreibe deine E-Mail-Adresse"
                  data-validate
                />
              </div>
              <div class="input-group">
                <label for="phone">Telefonnummer</label>
                <input type="text" id="phone" name="phone" />
              </div>
              <div class="input-group">
                <label for="comments">Kommentare oder Fragen</label>
                <textarea
                  name="message"
                  id="message"
                  required
                  minlength="10"
                  data-error="Bitte schreibe mindestens 10 Buchstaben"
                  data-validate></textarea>
              </div>

              <button type="submit" class="button" data-submit>Absenden</button>
            </form>
          </div>
        </div>

        <figure>
          <img src="/images/sommercamp/image-10.jpg" alt="Jugendliche spielen im Stroh" loading="lazy" />
        </figure>
      </section>
    </main>

    <script>
      import { Fancybox } from "@fancyapps/ui";
      import "@fancyapps/ui/dist/fancybox/fancybox.css";

      Fancybox.bind("[data-fancybox]");

      const form = document.querySelector("[data-form]") as HTMLFormElement;
      const inputs = document.querySelectorAll("[data-validate]") as NodeListOf<HTMLInputElement>;
      const button = document.querySelector("[data-submit]") as HTMLButtonElement;

      function validate(input: HTMLInputElement) {
        if (!input.checkValidity() && !input.hasAttribute("aria-invalid")) {
          const error = document.createElement("p");

          error.className = "error";
          error.id = `${input.name}-error`;
          error.setAttribute("aria-live", "assertive");
          error.textContent = input.getAttribute("data-error");

          input.setAttribute("aria-invalid", "true");
          input.setAttribute("aria-describedby", `${input.name}-error`);
          input.insertAdjacentElement("afterend", error);
        } else if (input.checkValidity() && input.hasAttribute("aria-invalid")) {
          input.nextElementSibling?.remove();
          input.removeAttribute("aria-invalid");
          input.removeAttribute("aria-describedby");
        }
      }

      function sendEmail(data: FormData) {
        button.textContent = "Nachricht wird gesendet...";
        button.disabled = true;

        fetch("/.netlify/functions/send-email", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(Object.fromEntries(data)),
        })
          .then((response) => response.json())
          .then(() => {
            button.textContent = "Deine Nachricht wurde erfolgreich zugestellt!";
          })
          .catch(() => {
            button.textContent = "Fehler beim Zustellen der Nachricht. Versuche es später erneut.";
            button.disabled = false;
          });
      }

      function handleSubmit(event: SubmitEvent) {
        event.preventDefault();

        for (const input of inputs) {
          validate(input);
        }

        const firstInvalidInput = document.querySelector('[aria-invalid="true"]') as HTMLInputElement;

        if (firstInvalidInput) {
          firstInvalidInput.focus();
        } else {
          sendEmail(new FormData(event.target as HTMLFormElement));
        }
      }

      function handleBlur(event: FocusEvent) {
        const input = event.target as HTMLInputElement;

        validate(input);
      }

      function handleInput(event: Event) {
        const input = event.target as HTMLInputElement;

        if (input.hasAttribute("aria-invalid")) {
          validate(input);
        }
      }

      form.setAttribute("novalidate", "true");
      form.addEventListener("submit", handleSubmit);

      for (const input of inputs) {
        input.addEventListener("blur", handleBlur);
        input.addEventListener("input", handleInput);
      }
    </script>
  </body>
</html>
