---
import { Picture } from "astro:assets";
import Layout from "@/layouts/default.astro";
import ImageHausbootfahrt from "@/images/begegnungen/78-01.jpg";
import ImagePflegeheim from "@/images/pflegeheim/20-01.jpg";
---

<Layout
  title="Über Uns"
  description="Unser Club wurde 2009 durch Schüler der ehemaligen Schülerzeitung Sch'cool gegründet. Erfahre mehr auf dieser Seite."
  hasSidebar
  hasTitle
  hasBackground
  class="content"
>
  <p>
    Wir setzen uns für unsere Mitmenschen ein - zusammen mit tausenden anderen <a
      href="https://www.leo-clubs.de/"
      target="_blank"
      rel="noopener nofollow noreferrer">gleichartigen Clubs weltweit</a
    >. Gegründet und ansässig in Weil am Rhein, bestehen wir aus rund 7 aktiven Mitgliedern und weiteren Gästen, welche
    diverse Aktionen planen und durchführen. Seit unserer Clubgründung haben wir bereits mehr als 100 Aktionen
    durchgeführt und vielen Menschen - seien es Kinder, Menschen mit Behinderung oder Pflegebedürfige - eine schöne Zeit
    beschert.
  </p>

  <Picture
    src={ImageHausbootfahrt}
    formats={["avif", "webp"]}
    alt="hausboot auf dem rhein-marne kanal in frankreich vor einem schiffshebewerk"
    width={800}
    height={450}
    loading="eager"
    quality={80}
  />

  <p>
    Unser Club wurde im Jahr 2009 nach einer längeren Planungsphase unter der Patenschaft des <a
      href="https://www.leo-clubs.de/"
      target="_blank"
      rel="noopener nofollow noreferrer">Lions Clubs Weil am Rhein</a
    > gegründet. Die offizielle Gründungsfeier fand am 19. September 2009 im Pflegeheim Markgräflerland in Weil am Rhein
    statt. Zusammen mit Mitgliedern des Lions Clubs hatte das junge Ehepaar Leyla und Murat Kükner ein Konzept zur Gründung
    des Clubs entwickelt.
  </p>

  <p>
    In der Gründungsversammlung wurde Leyla zur Gründungspräsidentin gewählt. Ein Jahr später wurde Murat ihr
    Nachfolger. Seit der Clubgründung haben sich zahlreiche Unternehmungen fest etabliert. Ganz wichtig sind uns die
    Unternehmungen im Rahmen des übernommenen früheren Schulprojekts "Begegnungen mit Menschen mit Behinderung".
    Mindestens einmal im Monat kommt es zu einem Treffen mit Bewohnern des <a
      href="http://www.markus-pflueger-heim.de/"
      target="_blank"
      rel="noopener nofollow noreferrer">Markus-Pfüger-Heims</a
    > in Wiechs. Neben zahlreichen Tagesausflügen stehen auch mehrtägige Freizeiten auf dem Programm. Im Rahmen der finanziellen
    Machbarkeit wird angestrebt, jedes Jahr eine gemeinsame Hausbootfahrt in Frankreich durchzuführen.
  </p>

  <Picture
    src={ImagePflegeheim}
    formats={["avif", "webp"]}
    alt="leo-mitglieder verteilen rosen im weiler pflegeheim"
    width={800}
    height={450}
    quality={80}
  />

  <p>
    Im Laufe der Zeit kamen immer wieder neue Aktivitäten dazu, so zum Beispiel die Ausflüge mit Kindern suchtkranker
    Eltern, bei denen wir mit der Organisation <a
      href="http://www.kisel.de/"
      target="_blank"
      rel="noopener nofollow noreferrer">KiSEL in Lörrach</a
    > zusammenarbeiten.
  </p>

  <p>
    Wir planen, auch in Zukunft so weiterzumachen wie bisher. Dabei sind wir für Interessierte und neue Mitglieder immer
    offen und haben bei den meisten Aktionen noch ein Plätzchen frei. Haben wir dein Interesse geweckt? <a
      href="/mitglied-werden/">Hier</a
    > erhälst du mehr Informationen, wie man Leo wird.
  </p>
</Layout>
