---
import { CATEGORIES } from "@/lib/helpers";
---

<div class="selector">
  <select
    data-action="category-selector"
    aria-label="Einträge nach Kategorie filtern"
    class="select"
  >
    <option value="" selected disabled>Einträge nach Kategorie filtern</option>
    <option value="/aktionen/">Alle Aktionen</option>
    {
      CATEGORIES.map((category) => (
        <option value={category.slug}>{category.title}</option>
      ))
    }
  </select>
</div>

<style>
  .selector {
    margin-bottom: 1.5rem;
  }

  .select {
    border: unset;
    border-radius: 2px;
    padding: 0.75rem;
    font-family: var(--ff-sans);
    transition:
      border-color 0.1s linear,
      box-shadow 0.1s linear;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px hsl(var(--clr-gray-500) / 0.1);
    color: hsl(var(--clr-gray-500));
  }
</style>

<script>
  const select = document.querySelector(
    '[data-action="category-selector"]',
  ) as HTMLSelectElement;

  function handleSelectCategory(event: Event) {
    const { value } = event.target as HTMLSelectElement;

    if (value) {
      location.href = value;
    }
  }

  select.addEventListener("change", handleSelectCategory);
</script>
