---
import { CATEGORIES } from "@/lib/utils";
---

<select
  data-action="category-selector"
  aria-label="eintrage nach kategorie filtern"
  class="box mb-8 w-full p-4 outline-none focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
>
  <option value="" selected disabled>Einträge nach Kategorie filtern</option>
  <option value="/aktionen/">Alle Aktionen</option>
  {
    CATEGORIES.map((category) => (
      <option value={category.slug}>{category.title}</option>
    ))
  }
</select>

<script>
  const select = document.querySelector<HTMLSelectElement>(
    '[data-action="category-selector"]',
  );

  if (select) {
    select.onchange = (event: Event) => {
      location.href = (event.target as HTMLSelectElement).value;
    };
  }
</script>
