---
import SocialLinks from "@/components/social-links.astro";
import LatestPosts from "@/components/latest-posts.astro";
import Gallery from "@/components/gallery.astro";
import { getPosts } from "@/lib/utils";
import Picture from "astro/components/Picture.astro";

let images = (await getPosts())
  .map((post) => {
    if (post.data.images) {
      let [image] = post.data.images;

      return {
        src: image.src,
        alt: image.alt,
        caption: post.data.title,
      };
    }

    return null;
  })
  .filter(Boolean)
  .slice(0, 9) as { src: string; alt?: string; caption: string }[];
---

<footer
  class="bg-white py-8 shadow-upsert dark:bg-neutral-700 dark:shadow-neutral-900"
>
  <div
    class="mx-auto grid max-w-7xl grid-cols-1 gap-8 px-4 md:grid-cols-2 lg:grid-cols-4"
  >
    <section>
      <h2 class="title mb-4 md:mb-8">Über Uns</h2>

      <Picture
        src="https://ik.imagekit.io/6uqkzvybwk/leo-club-weilamrhein/logo.png"
        formats={["avif", "webp"]}
        alt="logo des leo clubs"
        width={150}
        height={150}
        quality={80}
        class="float-left mr-4 h-16 w-16"
      />

      <p class="mb-4">
        Wir sind Jugendliche und Erwachsene und engagieren uns für das Wohl von
        benachteiligten Menschen, etwa aus Kinder- oder Pflegeheimen.
      </p>

      <p>
        <a
          href="https://www.leo-clubs.de/"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="link"
        >
          Erfahre mehr über Leo-Clubs in Deutschland
        </a>
      </p>
    </section>
    <section>
      <h2 class="title mb-4 md:mb-8">Aktuelles</h2>

      <LatestPosts />
    </section>
    <section>
      <h2 class="title mb-4 md:mb-8">Bilder</h2>

      <Gallery images={images} width={250} height={250} galleryId="footer" />
    </section>
    <nav aria-label="fusszeilennavigation">
      <h2 class="title mb-4 md:mb-8">Menu</h2>

      <ul class="list-disc pl-8">
        <li>
          <a
            class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
            href="/">Startseite</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
            href="/aktionen/">Aktionen</a
          >
          <ul class="list-disc pl-8">
            <li>
              <a
                class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
                href="/aktionen/begegnungen/">Begegnungen</a
              >
            </li>
            <li>
              <a
                class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
                href="/aktionen/pflegeheim">Pflegeheim</a
              >
            </li>
            <li>
              <a
                class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
                href="/aktionen/kinder/">Ausflüge mit Kindern</a
              >
            </li>
            <li>
              <a
                class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
                href="/aktionen/weitere/">Weitere Aktionen</a
              >
            </li>
            <li>
              <a
                class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
                href="/aktionen/neugkeiten/">Neuigkeiten</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
            href="/ueber-uns/">Über Uns</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
            href="/mitglied-werden/">Mitglied werden</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
            href="/kontakt/">Kontakt</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
            href="/impressum/">Impressum</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
            href="/datenschutz/">Datenschutz</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-4 focus-visible:ring-primary-900/20 dark:hover:text-primary-200 dark:focus-visible:text-primary-200 dark:focus-visible:ring-primary-200/20"
            href="/sitemap/">Sitemap</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="mt-8 border-t border-neutral-200 pt-8 dark:border-neutral-600">
    <div
      class="mx-auto flex max-w-7xl flex-col items-center gap-2 px-4 text-center font-sans text-xs font-semibold uppercase sm:text-sm md:flex-row md:items-start md:justify-between"
    >
      <SocialLinks aria-label="soziale netzwerke (fußbereich)" hasText />

      <p>
        &copy; {new Date().getFullYear()}
        <a href="/" class="link">Leo-Club Weil am Rhein</a>
        . Alle Rechte vorbehalten.
      </p>
    </div>
  </div>
</footer>
