---
import SocialLinks from "@/components/social-links.astro";
import LatestPosts from "@/components/latest-posts.astro";
import Title from "@/components/title.astro";
import Gallery from "@/components/gallery.astro";
import { getPosts } from "@/lib/utils";
import Picture from "astro/components/Picture.astro";

const images = (await getPosts())
  .map((post) => {
    if (post.data.images) {
      return post.data.images.at(0);
    }

    return null;
  })
  .filter(Boolean)
  .slice(0, 9) as { src: string; alt?: string }[];
---

<footer class="shadow-upsert bg-white py-8">
  <div class="mx-auto grid max-w-7xl grid-cols-4 gap-8 px-2">
    <section>
      <Title as="h3" class="mb-8">Über Uns</Title>

      <Picture
        src="https://ik.imagekit.io/6uqkzvybwk/leo-club-weilamrhein/logo.png"
        formats={["avif", "webp"]}
        alt="logo des leo clubs"
        width={75}
        height={75}
        quality={80}
        class="float-left mr-4"
      />

      <p class="mb-4">
        Wir sind Jugendliche und Erwachsene und engagieren uns für das Wohl von
        benachteiligten Menschen, etwa aus Kinder- oder Pflegeheimen.
      </p>

      <p>
        <a
          href="https://www.leo-clubs.de/"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="link"
        >
          Erfahre mehr über Leo-Clubs in Deutschland
        </a>
      </p>
    </section>
    <section>
      <Title as="h3" class="mb-8">Aktuelles</Title>

      <LatestPosts />
    </section>
    <section>
      <Title as="h3" class="mb-8">Bilder</Title>

      <Gallery images={images} width={100} height={100} galleryId="footer" />
    </section>
    <nav>
      <Title as="h3" class="mb-8">Menu</Title>

      <ul class="list-disc pl-8">
        <li>
          <a
            class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
            href="/">Startseite</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
            href="/aktionen/">Aktionen</a
          >
          <ul class="list-disc pl-8">
            <li>
              <a
                class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
                href="/aktionen/begegnungen/">Begegnungen</a
              >
            </li>
            <li>
              <a
                class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
                href="/aktionen/pflegeheim">Pflegeheim</a
              >
            </li>
            <li>
              <a
                class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
                href="/aktionen/kinder/">Ausflüge mit Kindern</a
              >
            </li>
            <li>
              <a
                class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
                href="/aktionen/weitere/">Weitere Aktionen</a
              >
            </li>
            <li>
              <a
                class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
                href="/aktionen/neugkeiten/">Neuigkeiten</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
            href="/ueber-uns/">Über Uns</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
            href="/mitglied-werden/">Mitglied werden</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
            href="/kontakt/">Kontakt</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
            href="/impressum/">Impressum</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
            href="/datenschutz/">Datenschutz</a
          >
        </li>
        <li>
          <a
            class="outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20"
            href="/sitemap/">Sitemap</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="mt-8 border-t border-stone-200 pt-8">
    <div
      class="mx-auto flex max-w-7xl justify-between px-2 font-sans text-sm font-semibold uppercase"
    >
      <SocialLinks hasText />

      <p>
        &copy; {new Date().getFullYear()}
        <a href="/" class="link">Leo-Club Weil am Rhein</a>
        . Alle Rechte vorbehalten.
      </p>
    </div>
  </div>
</footer>
