---
import SocialLinks from "@/components/social-links.astro";
import LatestPosts from "@/components/latest-posts.astro";
import Title from "@/components/title.astro";
import Gallery from "@/components/gallery.astro";
import Link from "@/components/link.astro";
import { getCategoryFromUrl } from "@/lib/helpers";

const today = new Date().getFullYear();
const images = (await Astro.glob("../pages/aktionen/**/*.md"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf(),
  )
  .filter((post) => Boolean(post.frontmatter.images))
  .slice(0, 6)
  .map((post) => ({
    src: post.frontmatter.images[0],
    category: getCategoryFromUrl(post.url as string),
    alt: post.frontmatter.title,
  }));
---

<footer class="bg-white py-8 shadow-lg shadow-stone-200">
  <div class="mx-auto grid max-w-7xl grid-cols-4 gap-8 px-2">
    <section>
      <Title as="h3" class="mb-8">Über Uns</Title>
      <p class="mb-4">
        Wir sind Jugendliche und Erwachsene und engagieren uns für das Wohl von
        benachteiligten Menschen, etwa aus Kinder- oder Pflegeheimen.
      </p>

      <p>
        <a
          href="https://www.leo-clubs.de/"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="link"
        >
          Erfahre mehr über Leo-Clubs in Deutschland
        </a>
      </p>
    </section>
    <section>
      <Title as="h3" class="mb-8">Aktuelles</Title>

      <LatestPosts />
    </section>
    <section>
      <Title as="h3" class="mb-8">Bilder</Title>

      <Gallery images={images} width={100} height={100} galleryId="footer" />
    </section>
    <nav>
      <Title as="h3" class="mb-8">Menu</Title>

      <ul class="list-disc pl-8">
        <li>
          <Link class="transition-colors hover:text-yellow-600" href="/"
            >Startseite</Link
          >
        </li>
        <li>
          <Link
            class="transition-colors hover:text-yellow-600"
            href="/aktionen/">Aktionen</Link
          >
          <ul class="list-disc pl-8">
            <li>
              <Link
                class="transition-colors hover:text-yellow-600"
                href="/aktionen/begegnungen/">Begegnungen</Link
              >
            </li>
            <li>
              <Link
                class="transition-colors hover:text-yellow-600"
                href="/aktionen/pflegeheim">Pflegeheim</Link
              >
            </li>
            <li>
              <Link
                class="transition-colors hover:text-yellow-600"
                href="/aktionen/kinder/">Ausflüge mit Kindern</Link
              >
            </li>
            <li>
              <Link
                class="transition-colors hover:text-yellow-600"
                href="/aktionen/weitere/">Weitere Aktionen</Link
              >
            </li>
            <li>
              <Link
                class="transition-colors hover:text-yellow-600"
                href="/aktionen/neugkeiten/">Neuigkeiten</Link
              >
            </li>
          </ul>
        </li>
        <li>
          <Link
            class="transition-colors hover:text-yellow-600"
            href="/ueber-uns/">Über Uns</Link
          >
        </li>
        <li>
          <Link
            class="transition-colors hover:text-yellow-600"
            href="/mitglied-werden/">Mitglied werden</Link
          >
        </li>
        <li>
          <Link class="transition-colors hover:text-yellow-600" href="/kontakt/"
            >Kontakt</Link
          >
        </li>
        <li>
          <Link
            class="transition-colors hover:text-yellow-600"
            href="/impressum/">Impressum</Link
          >
        </li>
        <li>
          <Link
            class="transition-colors hover:text-yellow-600"
            href="/datenschutz/">Datenschutz</Link
          >
        </li>
        <li>
          <Link class="transition-colors hover:text-yellow-600" href="/sitemap/"
            >Sitemap</Link
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="mt-8 border-t border-stone-200 pt-8">
    <div
      class="mx-auto flex max-w-7xl justify-between px-2 font-sans text-sm font-semibold uppercase"
    >
      <SocialLinks hasText />

      <p class="">
        &copy; {today}
        <a href="/" class="link">Leo-Club Weil am Rhein</a>
        . Alle Rechte vorbehalten.
      </p>
    </div>
  </div>
</footer>
