---
import { Picture } from "astro:assets";
---

<header class="bg-white px-4 shadow-lg shadow-stone-200">
  <nav
    aria-label="hauptnavigation"
    class="mx-auto flex max-w-7xl flex-wrap items-center justify-evenly gap-4 py-4 lg:py-6"
  >
    <a
      class="flex w-full justify-center border-b border-stone-300 pb-4 outline-none focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2 lg:order-2 lg:w-auto lg:border-b-0 lg:pb-0"
      href="/"
    >
      <Picture
        src="https://ik.imagekit.io/6uqkzvybwk/leo-club-weilamrhein/logo.png"
        formats={["avif", "webp"]}
        alt="logo des leo clubs"
        width={150}
        height={150}
        quality={80}
        class="h-14 w-14 md:h-20 md:w-20"
        loading="eager"
      />
      <span class="sr-only">Startseite</span>
    </a>

    <a
      class="order-1 font-sans text-sm font-semibold uppercase text-stone-900 outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2 md:text-base"
      href="/aktionen/">Aktionen</a
    >
    <a
      class="order-1 font-sans text-sm font-semibold uppercase text-stone-900 outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2 md:text-base"
      href="/ueber-uns/">Über Uns</a
    >
    <a
      class="order-3 font-sans text-sm font-semibold uppercase text-stone-900 outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2 md:text-base"
      href="/mitglied-werden/">Mitglied werden</a
    >
    <a
      class="order-3 font-sans text-sm font-semibold uppercase text-stone-900 outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2 md:text-base"
      href="/kontakt/">Kontakt</a
    >
  </nav>
</header>
