---
import Ribbon from "@/components/ribbon.astro";
import Twigs from "@/components/twigs.astro";
---

<header class="bg-white px-2 shadow-lg shadow-stone-200">
  <nav class="mx-auto flex max-w-7xl items-center justify-evenly gap-x-6 py-6">
    <a class="order-2 flex flex-col items-center" href="/">
      <span class="sr-only">Startseite</span>
      <Ribbon variant="dark">Leo-Clubs</Ribbon>
      <span
        aria-hidden="true"
        class="my-2 block text-2xl font-bold text-yellow-600"
        >Leo-Club Weil am Rhein</span
      >
      <Twigs variant="dark">Seit 2009</Twigs>
    </a>

    <a
      class="order-1 font-sans text-sm font-semibold uppercase text-stone-900 transition-colors hover:text-yellow-600"
      href="/aktionen/">Aktionen</a
    >
    <a
      class="order-1 font-sans text-sm font-semibold uppercase text-stone-900 transition-colors hover:text-yellow-600"
      href="/ueber-uns/">Über Uns</a
    >
    <a
      class="order-3 font-sans text-sm font-semibold uppercase text-stone-900 transition-colors hover:text-yellow-600"
      href="/mitglied-werden/">Mitglied werden</a
    >
    <a
      class="order-3 font-sans text-sm font-semibold uppercase text-stone-900 transition-colors hover:text-yellow-600"
      href="/kontakt/">Kontakt</a
    >
  </nav>
</header>
