---
import { Picture } from "astro:assets";
---

<header class="bg-white px-2 shadow-lg shadow-stone-200">
  <nav class="mx-auto flex max-w-7xl items-center justify-evenly gap-x-6 py-6">
    <a
      class="order-2 flex flex-col items-center outline-none focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2"
      href="/"
    >
      <Picture
        src="https://ik.imagekit.io/6uqkzvybwk/leo-club-weilamrhein/logo.png"
        formats={["avif", "webp"]}
        alt="logo des leo clubs"
        width={75}
        height={75}
        quality={80}
        loading="eager"
      />
      <span class="sr-only">Startseite</span>
    </a>

    <a
      class="order-1 font-sans font-semibold uppercase text-stone-900 outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2"
      href="/aktionen/">Aktionen</a
    >
    <a
      class="order-1 font-sans font-semibold uppercase text-stone-900 outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2"
      href="/ueber-uns/">Über Uns</a
    >
    <a
      class="order-3 font-sans font-semibold uppercase text-stone-900 outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2"
      href="/mitglied-werden/">Mitglied werden</a
    >
    <a
      class="order-3 font-sans font-semibold uppercase text-stone-900 outline-none transition-colors hover:text-yellow-600 focus-visible:text-yellow-600 focus-visible:ring-4 focus-visible:ring-yellow-600/20 focus-visible:ring-offset-2"
      href="/kontakt/">Kontakt</a
    >
  </nav>
</header>
