---
import { getPosts, formatDate } from "@/lib/utils";

let posts = await getPosts(3);
---

{
  posts.map((post) => (
    <article class="mb-4">
      <h3>
        <a
          href={`/aktionen/${post.slug}`}
          class="hover:text-primary-900 focus-visible:text-primary-900 focus-visible:ring-primary-900/20 font-serif text-lg font-bold leading-tight text-neutral-900 outline-none transition-colors focus-visible:ring-4"
        >
          {post.data.title}
        </a>
      </h3>
      <time
        datetime={post.data.created_at.toISOString()}
        class="text-sm text-neutral-500"
      >
        Veröffentlicht am {formatDate(post.data.created_at)}
      </time>
    </article>
  ))
}
