---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive =
  (href === "/" && Astro.url.pathname === "/") || (href !== "/" && Astro.url.pathname.includes(href as string));
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
