---
import Ribbon from "@/components/ribbon.astro";
import Twigs from "@/components/twigs.astro";
import Link from "@/components/link.astro";
---

<nav class="navigation">
  <div class="inner container">
    <a class="logo" href="/">
      <span class="sr-only">Startseite</span>
      <Ribbon variant="dark">Leo-Clubs</Ribbon>
      <span aria-hidden="true">Leo-Club Weil am Rhein</span>
      <Twigs variant="dark" class="twigs">Seit 2009</Twigs>
    </a>
    <Link class="link" href="/aktionen/">Aktionen</Link>
    <Link class="link" href="/ueber-uns/">Über Uns</Link>
    <Link class="link" href="/mitglied-werden/">Mitglied werden</Link>
    <Link class="link" href="/kontakt/">Kontakt</Link>
  </div>
</nav>

<style>
  .navigation {
    padding-block: 2rem;
    background-color: hsl(var(--clr-white));
    border-bottom: 1px solid hsl(var(--clr-gray-200));
    box-shadow: 0 2px 4px hsl(var(--clr-gray-500) / 0.1);
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  .link {
    font-family: var(--ff-sans);
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(var(--clr-gray-500));
    font-size: 14px;
    transition: color 0.1s linear;
  }

  .link:where(:hover, :focus-visible) {
    color: hsl(var(--clr-primary));
  }

  .link:where(.active) {
    color: hsl(var(--clr-primary));
    border-bottom: 1px solid hsl(var(--clr-primary));
  }

  .logo {
    color: hsl(var(--clr-primary));
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  :global(.twigs) {
    font-size: 12px;
    height: auto !important;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  @media (min-width: 56.25rem) {
    .link:nth-child(0),
    .link:nth-child(1) {
      order: 1;
    }

    .logo {
      order: 2;
    }

    .link:nth-child(4),
    .link:nth-child(5) {
      order: 3;
    }
  }

  @media (max-width: 56.25rem) {
    .logo {
      margin-bottom: 1.5rem;
      font-size: clamp(20px, calc(1vw + 1rem), 25px);
      width: 100%;
    }
  }
</style>
