---
export interface Props extends astroHTML.JSX.HTMLAttributes {
  variant: "dark" | "light";
}

const { class: className, variant } = Astro.props;
---

<span aria-hidden="true" class:list={["ribbon", className]}>
  <svg viewBox="0 0 37.571 8.997" width="142" class:list={["icon", variant]} height="34">
    <path
      fill="currentColor"
      d="M32.703 7.52c-.688.484-1.363.979-2.011 1.474l6.506.003c-.521-.715-1.71-2.342-1.842-2.527a.189.189 0 0 1 .019-.241l2.196-2.521-4.435-.003-.145 2.058c0 .008-.003.013-.003.021l-.109 1.519a.22.22 0 0 1-.116.175c-.01.005-.021.01-.032.013-.01.01-.018.024-.029.031zm-2.223-.426l1.588-.156.037-.535-1.58-.092 1.595-.156.035-.495-1.561-.09 1.58-.156.034-.492-1.564-.09 1.582-.157.035-.518-1.553-.085 1.569-.156.031-.481-1.547-.082 1.563-.157.035-.505-1.556-.082 1.571-.159.032-.47-1.537-.08 1.553-.156.035-.516-1.503-.077 1.518-.153.032-.447-1.516-.074L32.52.32l.021-.312L21.693.005v7.406l10.34.003.016-.222zM5.52 7.186l.015.223 10.34-.003V0L5.027.003l.021.312L6.58.471 5.064.545l.032.448 1.519.153-1.503.077.034.516 1.553.156-1.537.08.032.47 1.571.159-1.555.082.034.505 1.564.156-1.548.082.032.482 1.569.156-1.553.085.034.518 1.582.156-1.563.09.034.492 1.58.157-1.562.09.035.494 1.595.156-1.58.093.038.535 1.587.156zm-.68.302l-.032-.013c-.07-.04-.114-.103-.117-.175l-.108-1.518c0-.005-.003-.014-.003-.022l-.146-2.058L0 3.705l2.196 2.521c.064.074.069.17.019.241L.373 8.994 6.88 8.99a69.373 69.373 0 0 0-2.01-1.474c-.014-.008-.022-.021-.03-.032z"
    ></path>
    <path fill="currentColor" d="M7.144 7.409h23.283V0H7.144z"></path>
  </svg>
  <span class="text"><slot /></span>
</span>

<style>
  .ribbon {
    height: 34px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .icon {
    position: absolute;
  }

  .light {
    color: var(--clr-primary);
  }

  .dark {
    color: var(--clr-gray-500);
  }

  .text {
    color: white;
    position: relative;
    line-height: 2.4;
    font-family: var(--ff-sans);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
</style>
