---
import Title from "./title.astro";
import SocialLinks from "./social-links.astro";
import LatestPosts from "./latest-posts.astro";
import Button from "./button.astro";
import Box from "./box.astro";
import Link from "./link.astro";
---

<aside class="sidebar">
  <Box class="centered" variant="small">
    <Title as="h2">Über Uns</Title>

    <p>
      Wir sind Jugendliche und Erwachsene und engagieren uns für das Wohl von benachteiligten Menschen, etwa aus Kinder-
      oder Pflegeheimen.
    </p>

    <Button href="/ueber-uns/">Erfahre mehr</Button>
  </Box>

  <Box class="centered" variant="small">
    <Title as="h2">Netzwerke</Title>

    <p>Folge uns in den sozialen Netzwerken, um keine Neuigkeiten zu verpassen!</p>

    <SocialLinks class="social" />
  </Box>

  <Box variant="small">
    <Title as="h2">Aktuelles</Title>

    <LatestPosts />
  </Box>

  <Box variant="small">
    <Title as="h2">Kategorien</Title>

    <ul>
      <li>
        <Link class="link" href="/aktionen/begegnungen/">Begegnungen</Link>
      </li>
      <li>
        <Link class="link" href="/aktionen/pflegeheim/">Pflegeheim</Link>
      </li>
      <li>
        <Link class="link" href="/aktionen/kinder/">Kinder</Link>
      </li>
      <li>
        <Link class="link" href="/aktionen/weitere/">Weitere</Link>
      </li>
      <li>
        <Link class="link" href="/aktionen/neuigkeiten/">Neuigkeiten</Link>
      </li>
    </ul>
  </Box>
</aside>

<style>
  .sidebar {
    position: sticky;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .social {
    margin-top: 1rem;
    justify-content: center;
  }

  .link {
    transition: color 0.1s linear;
  }

  .link:where(:hover, :focus-visible, .active) {
    color: var(--clr-primary);
  }

  .button {
    margin-top: 1rem;
  }

  @media (max-width: 62.5rem) {
    .sidebar {
      margin-top: 1.5rem;
    }
  }
</style>
