---
import SocialLinks from "./social-links.astro";
import SearchForm from "./search-form.astro";
---

<header class="header">
  <div class="container inner">
    <a href="#content" class="skip">Zum Inhalt springen</a>

    <SocialLinks class="social" />
    <SearchForm />
  </div>
</header>

<style>
  .header {
    background-color: white;
    border-bottom: 1px solid var(--clr-gray-200);
  }

  .inner {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .skip {
    background-color: var(--clr-gray-500);
    color: white;
    font: 600 14px var(--ff-sans);
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    transition: transform 0.1s linear;
    transform: translateY(-100%);
    border-radius: 0 0 2px 2px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .skip:where(:focus) {
    transform: translateY(0);
  }

  .skip:where(:hover) {
    text-decoration: underline;
  }

  .social {
    border-right: 1px solid var(--clr-gray-200);
    padding-right: 1rem;
  }
</style>
