---
export interface Props extends astroHTML.JSX.HTMLAttributes {
  variant: "dark" | "light";
}

const { class: className, variant } = Astro.props;
---

<span aria-hidden="true" class:list={["wrapper", variant, className]}>
  <svg viewBox="0 0 13.419 1.847" height="7" width="51" class="icon">
    <path
      d="M.26 1.42c-.067.13-.125.215-.175.366.164.003.267-.021.412-.04.032-.01.07.008.098-.005.043-.026-.01-.098.03-.127.081-.055.095-.034.177-.09.262-.182.22-.299.524-.397.285-.092.32.03.61.098.09.021-.068.016-.145.066-.04.03-.063-.003-.103.027-.024.024.024.09.003.116-.07.13-.175.215-.228.365.164.003.296.011.442-.008.034-.01.019-.1.05-.113.043-.027.085.037.125.01.082-.055.042-.106.124-.161.262-.183.228-.273.534-.37.286-.093.326-.053.617.015.09.022-.12.016-.196.07-.04.026-.013.063-.053.092-.024.024-.053.04-.074.066-.069.13-.182.296-.233.447.164.003.37-.008.519-.03.032-.01.06-.057.09-.07.042-.027.003-.083.042-.109.08-.056.066-.074.148-.13.262-.182.23-.328.548-.378.894-.138.915.124 1.823.124.905 0 .905-.121 1.812-.121.905 0 .905.023 1.81.023s.905.064 1.813.064c.904 0 .96.283 1.828.026.262-.076.243-.51-.019-.587-.868-.254-.905-.063-1.812-.063-.91 0-.91.055-1.815.055-.905 0-.905.024-1.81.024S6.871.68 5.966.68s-.926.177-1.82.04C3.829.67 3.932.423 3.67.24 3.59.186 3.559.226 3.48.17 3.44.142 3.4.2 3.357.173c-.03-.013-.006-.153-.04-.161-.148-.019-.262.048-.423.048.052.148.037.27.103.4.018.028.127-.022.148.002.04.03-.021.109.018.138.077.053.286.055.196.076-.29.07-.325.082-.611-.01C2.445.569 2.527.423 2.265.24c-.08-.056-.087-.048-.167-.103-.04-.027-.066.008-.108-.019-.032-.013-.05-.042-.085-.05a3.498 3.498 0 0 0-.45-.032c.053.148.151.254.217.384.019.029.032.037.053.06.04.03.069-.013.111.014.077.053.204.135.111.156-.29.069-.322.116-.606.024-.304-.098-.238-.228-.5-.408C.76.212.706.286.627.23.587.204.643.124.601.098.569.085.54.058.505.05.357.032.161 0 0 0c.053.148.198.291.265.42.018.03.055.011.079.035.04.03.018.056.058.082.08.056.053.095.132.15.188.13.336.006.336.231s-.16.08-.351.21c-.08.055-.082.052-.164.108-.04.026-.035.042-.072.071-.024.024 0 .08-.024.106z"
      fill="currentColor"></path>
  </svg>
  <span class="text"><slot /></span>
  <svg viewBox="0 0 13.419 1.847" height="7" width="51" class="icon">
    <path
      d="M13.136 1.307c-.04-.03-.032-.045-.071-.071-.082-.056-.082-.053-.164-.109-.19-.13-.352.013-.352-.209 0-.225.148-.1.336-.23.08-.056.053-.095.132-.15.04-.027.019-.054.058-.083.024-.024.059-.005.08-.034.066-.13.211-.275.264-.421-.161 0-.357.034-.505.05-.034.008-.064.035-.095.048-.04.026.013.103-.027.132-.082.056-.135-.018-.214.037-.262.183-.196.31-.5.408-.286.09-.315.042-.606-.024-.09-.021.037-.103.111-.156.04-.027.071.016.111-.013a.377.377 0 0 0 .053-.061c.066-.13.164-.236.217-.384-.161 0-.302.016-.45.032-.034.008-.053.037-.084.05-.04.026-.067-.008-.109.018-.08.056-.087.048-.167.104-.262.182-.18.328-.484.426-.286.092-.317.08-.611.01-.09-.02.12-.024.196-.076.04-.03-.021-.109.018-.138.022-.024.127.024.149-.003.063-.13.05-.251.103-.4-.162 0-.275-.066-.424-.047-.034.008-.008.145-.04.161C10.02.201 9.98.14 9.94.17c-.082.056-.111.016-.19.072-.262.182-.16.428-.477.479-.894.14-.915-.04-1.82-.04S6.548.675 5.643.675 4.738.65 3.833.65C2.93.651 2.93.595 2.018.595c-.907 0-.944-.19-1.812.064-.262.077-.28.51-.019.587.868.254.924-.026 1.829-.026.907 0 .907-.064 1.812-.064s.905-.023 1.81-.023c.907 0 .907.121 1.812.121s.926-.262 1.823-.124c.318.05.286.196.548.378.082.056.069.074.148.13.04.026 0 .085.042.108.03.014.059.064.09.072.149.018.355.032.519.029-.05-.151-.164-.318-.233-.447-.021-.027-.05-.043-.074-.066-.04-.03-.013-.064-.053-.093-.077-.053-.286-.048-.196-.069.291-.069.331-.108.617-.016.307.098.27.188.534.37.082.056.043.107.125.162.04.027.082-.037.124-.01.03.013.016.103.05.113.146.019.28.01.442.008-.05-.15-.159-.235-.227-.365-.022-.026.026-.092.002-.116-.04-.03-.063.003-.103-.027-.077-.053-.236-.045-.146-.066.291-.069.329-.19.612-.098.304.098.262.215.524.397.082.056.095.035.177.09.04.03-.013.1.029.127.029.013.066-.003.098.005.148.019.251.042.413.04-.05-.151-.112-.238-.175-.365-.021-.027 0-.085-.024-.106z"
      fill="currentColor"></path>
  </svg>
</span>

<style>
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 0.5rem;
  }

  .light .icon {
    color: hsl(var(--clr-white));
  }

  .dark .icon {
    color: hsl(var(--clr-gray-500));
  }

  .text {
    position: relative;
    white-space: nowrap;
    font-family: var(--ff-sans);
    font-weight: 600;
    text-transform: uppercase;
  }

  .light .text {
    color: hsl(var(--clr-white));
  }

  .dark .text {
    color: hsl(var(--clr-gray-500));
  }
</style>
