---
import CategorySelector from "components/category-selector.astro";
import PostPreview from "components/post-preview.astro";
import PageLayout from "layouts/page-layout.astro";
import { getPostExcerpt, getPostThumbnail } from "lib/helpers";

const posts = (await Astro.glob("./begegnungen/*.md")).sort(
  (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
---

<PageLayout
  title="Begegnungen mit Menschen mit Behinderung"
  description="Ausflüge mit Heimbewohnern aus Wiechs, welche eine geistige oder körperliche Behinderung aufweisen."
>
  <main>
    <CategorySelector />

    {
      posts.map((post) => (
        <PostPreview
          title={post.frontmatter.title}
          date={post.frontmatter.date}
          url={post.url as string}
          thumbnail={getPostThumbnail(post)}
          excerpt={getPostExcerpt(post)}
        />
      ))
    }
  </main>
</PageLayout>
