---
import PostPreview from "../../components/post-preview.astro";
import PageLayout from "../../layouts/page-layout.astro";
import { getPostExcerpt, getPostThumbnail } from "../../helpers";

const posts = (await Astro.glob("./neuigkeiten/*.md")).sort(
  (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
---

<PageLayout title="Aktuelle Neuigkeiten" description="Informationen zum Club, Wahlen und sonstige Änderungen">
  <main>
    {
      posts.map((post) => (
        <PostPreview
          title={post.frontmatter.title}
          date={post.frontmatter.date}
          url={post.url as string}
          thumbnail={getPostThumbnail(post)}
          excerpt={getPostExcerpt(post)}
        />
      ))
    }
  </main>
</PageLayout>
