---
import BaseLayout from "@/layouts/base-layout.astro";
import Sidebar from "@/components/sidebar.astro";

export interface Props {
  title: string;
  description: string;
  hasSidebar?: boolean;
}

const { title, description, hasSidebar = true } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div
    id="content"
    class:list={[
      "container",
      "main",
      {
        "has-sidebar": hasSidebar,
      },
    ]}
  >
    {title && <h1 class="title">{title}</h1>}
    <slot />
    {hasSidebar && <Sidebar />}
  </div>
</BaseLayout>

<style>
  .main {
    margin-block: 3rem;
  }

  .has-sidebar {
    display: grid;
    grid-template-columns: 1fr 20.625rem;
    gap: 0 1.5rem;
    place-items: start;
  }

  .title {
    font-size: clamp(24px, calc(2vw + 1rem), 36px);
    margin-bottom: 0.5rem;
    grid-column: span 2;
  }

  @media (max-width: 62.5rem) {
    .has-sidebar {
      grid-template-columns: 1fr;
    }

    .main {
      margin-block: 1.5rem;
    }

    .title {
      grid-column: 1;
      margin-bottom: 0;
    }
  }
</style>
